<p>Products Index Page</p>

<div id="background">
	<header>
		<a href="#" id="logo">Shoppe2 Logo Here</a>
		<nav>
			<ul>
				<li><a href="#">Categories</a></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="#">My Cart</a></li>
			</ul>
		</nav>
	</header>


	<h2>Your Featured Items</h2>
	<a href="#" class="button button_highlight">Button Here</a>
</div>